{% extends "UserInterface/index.html" %}
{% load i18n %}

{% block navbar %}
    {% include 'UserInterface/navbar.html' %}
{% endblock %}

{% block home_section %}
    <section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light" id="section-home">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-6">
                    <h2 class="text-white pb_font-semibold-italic mb-3">{% trans 'System Features' %}</h2>
                    <div class="sub-heading">
                        <p class="mb-4">
                            <span style="font-size: xx-large">
                                <i class="icon ion-android-done"></i>
                            </span>
                            {% blocktrans with start='<a href="#services">' end='</a>' %}
                            Can check the institutional {{ start }}Services{{ end }} you have approved
                            {% endblocktrans %}
                        </p>
                        <p class="mb-4">
                            <span style="font-size: xx-large">
                                <i class="icon ion-android-done"></i>
                            </span>
                            {% blocktrans with start='<a href="#distribution">' end='</a>' %}
                            Can check the institutional {{ start }}distribution list{{ end }} you belong
                            {% endblocktrans %}
                        </p>
                        <p class="mb-4">
                            <span style="font-size: xx-large">
                                <i class="icon ion-android-done"></i>
                            </span>
                            {% url 'change_password' as password_url %}
                            {% blocktrans with start='<a href=' middle='>' end='</a>' %}
                            Can change your {{ start }}{{ password_url }}{{ middle }}password{{ end }} easily
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-5 relative align-self-center">

                    {% if user.is_anonymous %}
                    <form role="form" method="post" class="bg-white rounded pb_form_v1">{% csrf_token %}

                        <h2 class="mb-4 mt-0 text-center">{% trans 'Enter your credentials' %}</h2>

                        {% if error %}
                            <div role="alert" class="alert alert-danger">
                              {% trans 'Invalid Username or Password' %}.
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form.username }}
                            {% for error in form.username.errors %}
                            <p>
                                {{ error|escape }}
                            </p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.password }}
                            {% for error in form.password.errors %}
                            <p>
                                {{ error|escape }}
                            </p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Login">
                        </div>
                    </form>
                    {% else %}
                        <div class="bg-white rounded pb_form_v1">

                            <h2 class="mb-4 mt-0 text-center">{% trans 'User Information' %}</h2>

                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'User Type' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.user_type }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>
                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'Status' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.status }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>

                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'First Name' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.first_name }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>

                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'Last Name' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.last_name }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>

                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'Username' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.username }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>

                            {% if user.user_enterprise %}
                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'Enterprise Number' %}:</span>

                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.enterprise_number }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>


                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'CI Number' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.ci_number }}</div>
                            </div>

                            <div class="row" style="height: 3px"></div>

                            <div class="row">
                                <div class="col-sm-7 bg-info border border-info">
                                    <span class="font-weight-bold">{% trans 'Área' %}:</span>
                                </div>
                                <div class="col-sm-5 bg-light border border-info">{{ user.area.name }}</div>
                            </div>
                            {% endif %}

                            <div class="row" style="height: 20px"></div>

                            <div class="row">
                                <a class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" href="{% url 'change_password' %}">
                                    {% trans 'Change Password' %}
                                </a>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
{% endblock %}

{% block service_section %}
    <section class="pb_section bg-light pb_slant-white pb_pb-250" id="services">
        <div class="container">
            <div class="row">
                <h1>{% trans 'Services' %}</h1>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans 'Service' %}</th>
                            <th>{% trans 'Description' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in user.get_active_services %}
                        <tr>
                            <th scope="row">{{ service.name }}</th>
                            <td>{{ service.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}

{% block distribution_list_section %}
    <section class="pb_section bg-light pb_slant-white pb_pb-250" id="distribution">
        <div class="container">
            <div class="row">
                <h1>{% trans 'Distribution List' %}</h1>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans 'List Name' %}</th>
                            <th>{% trans 'Description' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for distribution in user.get_active_distribution_list %}
                        <tr>
                            <th scope="row">{{ distribution.name }}</th>
                            <td>{{ distribution.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- END section -->
{% endblock %}