<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Usuarios</title>
</head>
<body>
    <p>Hola mundo</p>

    <div>
        {% if user.is_anonymous %}
        <form id="login_form" class="form-horizontal" role="form" method="post">{% csrf_token %}
            <fieldset>
                {% if error %}
                <p>Invalid username or password</p>
                {% endif %}

                <div>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <p>
                        {{ error|escape }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                    <p>
                        {{ error|escape }}
                    </p>
                    {% endfor %}
                </div>
                <div>
                    {{ form.remember_me }}
                </div>
                <div>
                    <button type="submit">
                        <span>Login</span>
                    </button>
                </div>
            </fieldset>
        </form>
        {% else %}
            <div>
            <p>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'change_password' %}">Change Password</a>
            </p>
            <p>
                <span>Status:</span><span>{{ user.status }}</span>
            </p>
            <p>
                <span>Name:</span><span>{{ user.first_name }}</span>
            </p>
            <p>
                <span>Last Name:</span><span>{{ user.last_name }}</span>
            </p>
            <p>
                <span>Username:</span><span>{{ user.username }}</span>
            </p>
            <p>
                <span>Enterprise Number:</span><span>{{ user.enterprise_number }}</span>
            </p>
            <p>
                <span>CI Number:</span><span>{{ user.ci_number }}</span>
            </p>
            </div>

            <div>
                <p><u>Services</u></p>
                <table border="on">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in service_list %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div>
                <p><u>Distribution Lists</u></p>
                <table border="on">
                    <thead>
                        <tr>
                            <th>List Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for distribution in distribution_list %}
                        <tr>
                            <td>{{ distribution.name }}</td>
                            <td>{{ distribution.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

</body>
</html>